instructions.configure=\
org.eclipse.equinox.p2.touchpoint.eclipse.addRepository(type:0,location:http${#58}//sctqtgen.sourceforge.net/updates/release/,enabled:%RELEASE%,name:SCT-Qt-Generator Release);\
org.eclipse.equinox.p2.touchpoint.eclipse.addRepository(type:1,location:http${#58}//sctqtgen.sourceforge.net/updates/release/,enabled:%RELEASE%,name:SCT-Qt-Generator Release);\
org.eclipse.equinox.p2.touchpoint.eclipse.addRepository(type:0,location:http${#58}//sctqtgen.sourceforge.net/updates/snapshot/,enabled:%SNAPSHOT%,name:SCT-Qt-Generator Snapshot);\
org.eclipse.equinox.p2.touchpoint.eclipse.addRepository(type:1,location:http${#58}//sctqtgen.sourceforge.net/updates/snapshot/,enabled:%SNAPSHOT%,name:SCT-Qt-Generator Snapshot);
