<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="com.yakindu.sct.generator.core.generator">
		<SCTGenerator
				keyword="de.morknet.sct.qt.generator.SCTGenerator1"
				executor="com.yakindu.sct.generator.core.execution.SExecGeneratorEntryExecutor"
				bindings="de.morknet.sct.qt.generator.QtGeneratorModule" 
				description="A generator for coupling the SCT-events and Qt signals and slots"
				id="de::morknet::sct::qt::generator"
				icon="sctqtgen.gif"
				name="Qt-Generator for SCT"
				contentType="statechart"
				elementRefType="org.yakindu.sct.model.sgraph.Statechart">
			<FeatureLibrary library_id="org.yakindu.generator.core.features">
			</FeatureLibrary>
			<FeatureLibrary library_id="de.morknet.sct.qt.generator.FeatureTypeLibrary">
			</FeatureLibrary>
		</SCTGenerator>
	</extension>
	<extension point="com.yakindu.sct.generator.core.generator">
		<ExtensionGeneratorMapping fileExtension="sct" generatorId="de::morknet::sct::qt::generator">
		</ExtensionGeneratorMapping>
	</extension>
	<extension point="com.yakindu.sct.generator.core.featuretypes">
		<FeatureLibrary library_id="de.morknet.sct.qt.generator.FeatureTypeLibrary"
				defaultProvider="de.morknet.sct.qt.generator.QtGeneratorDefaultValueProvider"
				uri="platform:/plugin/de.morknet.sct.qt.generator/library/FeatureTypeLibrary.xmi">
		</FeatureLibrary>
	</extension>
</plugin>
